<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mylab.customer.dao.mapper.CustomerMapper">

    <resultMap id="customerResultMap" type="CustomerVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="selectCustomer" parameterType="int" resultMap="customerResultMap">
        SELECT * FROM customers WHERE id = #{id}
    </select>

    <select id="selectAllCustomer" resultMap="customerResultMap">
        SELECT * FROM customers
    </select>

    <insert id="insertCustomer" parameterType="CustomerVo">
        INSERT INTO customers (id, name, email)
        VALUES (#{id}, #{name}, #{email})
    </insert>

</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 